html {
    height: 100%;

}
body {

padding: 0;
margin: 0;
background-color: indianred;
height: 100%;


}



#grotebalk {

background-color: grey;
height: 20%;
width: 80%;



}
#cont {

background-color: red;
height: 70%;
width: 80%;



}















