
body {
height: 100%;
padding: 0;
margin: 0;
background-color: indianred;
}



#grotebalk {

background-color: grey;
height: 20%;
width: 80%;



}
#cont {

background-color: red;
height: 70%;
width: 80%;



}















